<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PayRunIORunReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <PayRunIORunReports.Properties.Settings>
      <setting name="TestUrl" serializeAs="String">
        <value>https://testgitignorepayrun.io/</value>
      </setting>
      <setting name="TestConsumerKey" serializeAs="String">
        <value>git ignore</value>
      </setting>
      <setting name="TestConsumerSecret" serializeAs="String">
        <value>git ignore</value>
      </setting>
      <setting name="LiveUrl" serializeAs="String">
        <value>https://api.payrun.io/</value>
      </setting>
      <setting name="LiveConsumerKey" serializeAs="String">
        <value>A1NQVtzi0yF7FO0KBX3PQ</value>
      </setting>
      <setting name="LiveConsumerSecret" serializeAs="String">
        <value>X7QvDfQHpUGpXbDuERoUQP1qIbXuE5UuSlpIfTfVDZQ</value>
      </setting>
      <setting name="pdfReportFolder" serializeAs="String">
        <value>M:\PayRunIO</value>
      </setting>
    </PayRunIORunReports.Properties.Settings>
  </userSettings>
</configuration>