<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Charts.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.CodeParser" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Data" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.DataAccess" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.DataVisualization.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Gauges.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Office.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Pdf.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Pdf.Drawing" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.PivotGrid.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Printing.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Reporting.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Export" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Sparkline.Core" version="20.2.4" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="20.2.4" targetFramework="net452" />
  <package id="EPPlus" version="5.4.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="PayRunIO.Core.Enums" version="20.21.6.43" targetFramework="net452" />
  <package id="PayRunIO.CSharp.SDK" version="20.21.6.43" targetFramework="net452" />
  <package id="PayRunIO.CSharp.SDK.Bridge" version="1.0.0.172" targetFramework="net452" />
  <package id="PayRunIO.Models" version="20.21.6.43" targetFramework="net452" />
  <package id="PayRunIO.OAuth1" version="20.21.6.43" targetFramework="net452" />
  <package id="PayRunIO.Utilities" version="20.21.6.43" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net452" />
</packages>