<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="PayRunIO.Core.Enums" version="20.21.6.12" targetFramework="net452" />
  <package id="PayRunIO.CSharp.SDK" version="20.21.6.12" targetFramework="net452" />
  <package id="PayRunIO.CSharp.SDK.Bridge" version="1.0.0.160" targetFramework="net452" />
  <package id="PayRunIO.Models" version="20.21.6.12" targetFramework="net452" />
  <package id="PayRunIO.OAuth1" version="20.21.6.12" targetFramework="net452" />
  <package id="PayRunIO.Utilities" version="20.21.6.12" targetFramework="net452" />
</packages>